button {
	font-size: 1.2rem;
	transition: all 0.4s ease;
	font-weight: 600;
	margin: 10px 0px 40px 0px;
	padding: 0.4em 1.2em;
	border-radius: 30px;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
	background-color: #000a42;
	color:white;
}

button:hover {
	transform: scale(0.9);
	background-color: white;
	color:#000a42;
	border:2px solid #000a42;

}

.edit {
	padding:10px;
	width:100px;
	margin: -3.5em auto 0px auto;
}

.home {
	font-size: 1.2rem;
	transition: all 0.4s ease;
	font-weight: 600;
	margin: 10px 0px 40px 0px;
	padding: 0.4em 1.2em;
	border-radius: 30px;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
	background-color: #000a42;
	color:white;

}


.delete {
	position: relative;
	top:-12em;
	left:3em;
	background-color: red;
	padding:0px;
	width: 30px;
	border: 2px solid black;
}

.delete:hover {
	color:red;
}


.card {
	border:1px solid black;	
	margin-top: 10px;
}



