button {
	font-size: 1.2rem;
	transition: all 0.4s ease;
	font-weight: 600;
	margin: 10px 0px 40px 0px;
	padding: 0.4em 1.2em;
	border-radius: 30px;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
	background-color: #000a42;
	color:white;
}

button:hover {
	transform: scale(0.9);
	background-color: white;
	color:#000a42;
	border:2px solid #000a42;

}

.edit {
	padding:10px;
	width:100px;
	margin: 20px auto 0px auto;
}

.home {
	font-size: 1.2rem;
	transition: all 0.4s ease;
	font-weight: 600;
	margin: 10px 0px 40px 0px;
	padding: 0.4em 1.2em;
	border-radius: 30px;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
	background-color: #000a42;
	color:white;

}





.danger {
	background-color: #ef5350;
	color: #f8f8f8;
}

.danger:hover {
	background-color: #ff867c;
}

.fab {
	padding: 0;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	line-height: 25px;
}

