.card {
	border-radius: 4px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.card .card-header {
	max-height: 8em;
}

.card .card-header img {
	object-fit: cover;
	width: 100%;
	max-height: 8em;
	border-radius: 4px;
}

.card .card-body {
	color: #f8f8f8;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}