* {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  padding:20px;
  background: #0C1428;
  color: white;

}

nav .links {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  /* border:5px solid red; */
}

nav .links a {
  padding:5px;
  text-decoration: none;
  color:white;
  border-radius: 30px;
  font-size: 15px;
}


nav .links a:hover {
  background:white;
  color:#0C1428;
}

.modal {
  z-index: 1000;
  display: inline-block;
  position: fixed;
  background:red;
  left: 0px;
  top: 50%;
  border-radius: 30px;
  padding:5px;
}

.close {
 display: none; 
}
